body {
  background-color: bisque;
}

.titulo-1 {
  color: crimson;
  background-color: black;
  width: 165px;
  font-style: italic;
  font-weight: bolder;
}

.cabecera {
  background: black;
}

.cabecera__pagina {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cabecera__pagina a {
  text-decoration: none;
  color: darkred;
}

.cabecera__lista__items {
  list-style: none;
  font-size: 30px;
}

.cabecera__logo {
  width: 5vw;
}

.imagen__hvsa {
  width: 98vw;
}

.imagen__hyogavscamus {
  width: 15vw;
}

.imagen__manga {
  width: 15vw;
}

.imagen__noticia__inicio {
  width: 15vw;
}

.imagen__ventas {
  width: 15vw;
}

.flex__imagenes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-noticia1 {
  width: 15vw;
}

.imagen-noticia2 {
  width: 15vw;
}

.imagen-noticia3 {
  width: 13vw;
  margin-right: 3vw;
}

.imagen-noticia4 {
  width: 13vw;
  margin-right: 3vw;
}

.section__noticia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contenedor__noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor__noticia img {
  padding: 1vw;
}

.manga-original {
  width: 15vw;
}

.manga-tlc {
  width: 15vw;
}

.manga-nd {
  width: 15vw;
}

.manga-sh {
  width: 15vw;
}

.flex__manga {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor__manga {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animeoriginal {
  width: 20vw;
}

.animeasgard {
  width: 21vw;
}

.animeposeidon {
  width: 20vw;
}

.flex__anime {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
}

.animehades {
  width: 18vw;
}

.animehadess {
  width: 17vw;
}

.animehadese {
  width: 18vw;
}

.animehadesi {
  width: 18vw;
}

.animehadesc {
  width: 18vw;
}

.sssog {
  width: 18vw;
}

.sstlc {
  width: 18vw;
}

.titulo__dorado {
  color: gold;
}

.imagen__dorados {
  width: 98vw;
}

#dorados {
  color: cornflowerblue;
}

#mu span {
  color: violet;
}

#aldebaran span {
  color: burlywood;
}

#saga span {
  color: blueviolet;
}

#mascara-de-muerte span {
  color: darkblue;
}

#aioria span {
  color: chocolate;
}

#shaka span {
  color: goldenrod;
}

#dohko span {
  color: darkcyan;
}

#milo span {
  color: darkorchid;
}

#aioros span {
  color: peru;
}

#shura span {
  color: tan;
}

#camus span {
  color: deepskyblue;
}

#afrodita span {
  color: hotpink;
}

.colornegro {
  color: black;
}

.producto {
  width: 20vw;
  border: solid 1vw;
}

.section__productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boton {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  border: solid 1px;
}

/*# sourceMappingURL=style.css.map */
