@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
body {
  background-color: bisque;
}

.cabecera {
  position: sticky;
  top: 0px;
  font-family: "Permanent Marker", cursive;
  font: white !important;
  opacity: 75%;
  z-index: 1;
}

.navbar-brand {
  color: gold !important;
}

.nav-link {
  color: white !important;
}

.cabecera__pagina a {
  text-decoration: none;
  color: darkred;
}

.cabecera__lista__items {
  list-style: none;
  font-size: 30px;
}

.cabecera__logo {
  width: 5vw;
}

.imagen__hvsa {
  width: 40px;
}

@media only screen and (min-width: 300px) and (max-width: 525px) {
  .imagen__hvsa {
    width: 100vw;
    height: 50vh !important;
  }
}
.flex__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  color: gold;
  font-family: "Permanent Marker", cursive;
}

.carousel-general {
  height: 60vh;
}

.imagen__hyogavscamus {
  width: 10vw;
}

.imagen__manga {
  width: 10vw;
}

.imagen__noticia__inicio {
  width: 10vw;
}

.carousel-caption {
  color: gold !important;
  background-color: black;
  opacity: 75%;
}

.flex__imagenes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}

.twitter-icon {
  width: 10px;
}

.twitter-link {
  text-decoration: none;
  color: white;
  font-family: "Kanit", sans-serif;
}

.instagram-icon {
  width: 10px;
}

.instagram-link {
  text-decoration: none;
  color: white;
  font-family: "Kanit", sans-serif;
}

.footer-logo {
  display: none;
}

.footer-logo2 {
  width: 8vw;
  display: block;
}

.datos-contacto {
  height: -1vh !important;
  font-family: "Kanit", sans-serif;
  font-size: 1vh;
  color: white;
}

.imagen-noticia1 {
  width: 15vw;
}

.imagen-noticia2 {
  width: 15vw;
}

.imagen-noticia3 {
  width: 13vw;
  margin-right: 3vw;
}

.imagen-noticia4 {
  width: 13vw;
  margin-right: 3vw;
}

.section__noticia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contenedor__noticia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor__noticia img {
  padding: 1vw;
}

.section__noticia a {
  font-family: "Kanit", sans-serif;
  color: gold !important;
}

.manga-original {
  width: 15vw;
}

.manga-tlc {
  width: 15vw;
}

.manga-nd {
  width: 15vw;
}

.manga-sh {
  width: 15vw;
}

.flex__manga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: aliceblue;
}

@media only screen and (min-width: 300px) and (max-width: 510px) {
  .flex__manga {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
  }
}
.contenedor__manga {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
}

.animeoriginal {
  width: 20vw;
}

.animeasgard {
  width: 21vw;
}

.animeposeidon {
  width: 20vw;
}

.flex__anime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: aliceblue;
}

.contenedor__animetlc {
  font-family: "Kanit", sans-serif;
}

.contenedor__animeso {
  font-family: "Kanit", sans-serif;
}

.contenedor__animeova {
  font-family: "Kanit", sans-serif;
}

.contenedor__anime {
  font-family: "Kanit", sans-serif;
}

.animehades {
  width: 18vw;
}

.animehadess {
  width: 17vw;
}

.animehadese {
  width: 18vw;
}

.animehadesi {
  width: 18vw;
}

.animehadesc {
  width: 18vw;
}

.sssog {
  width: 18vw;
}

.sstlc {
  width: 18vw;
}

.titulo__dorado {
  color: gold;
  font-family: "Permanent Marker", cursive;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen__dorados {
  width: 99vw;
  height: 70vh;
}

.banner-personajes p {
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: gold;
}

.preview-columna-1 img {
  width: 16vw !important;
}

.preview-columna-2 img {
  width: 16vw !important;
}

.dorados {
  color: cornflowerblue;
}

.mu-content p {
  color: white;
}

.mu-content h3 {
  color: plum;
}

.imagen__mu {
  height: 70vh;
  width: 40vw;
}

.aldebaran-content p {
  color: white;
}

.aldebaran-content h3 {
  color: burlywood;
}

.imagen__aldebaran {
  height: 70vh;
  width: 40vw;
}

.saga-content p {
  color: white;
}

.saga-content h3 {
  color: blueviolet;
}

.imagen__saga {
  height: 70vh;
  width: 40vw;
}

.mascara-content p {
  color: white;
}

.mascara-content h3 {
  color: darkblue;
}

.imagen__mascara {
  height: 70vh;
  width: 40vw;
}

.aioria-content p {
  color: white;
}

.aioria-content h3 {
  color: chocolate;
}

.imagen__aioria {
  height: 70vh;
  width: 40vw;
}

.shaka-content p {
  color: white;
}

.shaka-content h3 {
  color: goldenrod;
}

.imagen__shaka {
  height: 70vh;
  width: 40vw;
}

.dohko-content p {
  color: white;
}

.dohko-content h3 {
  color: darkcyan;
}

.imagen__dohko {
  height: 70vh;
  width: 40vw;
}

.milo-content p {
  color: white;
}

.milo-content h3 {
  color: darkorchid;
}

.imagen__milo {
  height: 70vh;
  width: 40vw;
}

.aioros-content p {
  color: white;
}

.aioros-content h3 {
  color: peru;
}

.imagen__aioros {
  height: 70vh;
  width: 40vw;
}

.shura-content p {
  color: white;
}

.shura-content h3 {
  color: tan;
}

.imagen__shura {
  height: 70vh;
  width: 40vw;
}

.camus-content p {
  color: white;
}

.camus-content h3 {
  color: deepskyblue;
}

.imagen__camus {
  height: 70vh;
  width: 40vw;
}

.afrodita-content p {
  color: white;
}

.afrodita-content h3 {
  color: hotpink;
}

.imagen__afrodita {
  height: 70vh;
  width: 40vw;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .imagen__mu, .imagen__aldebaran, .imagen__saga, .imagen__mascara, .imagen__aioria, .imagen__shaka, .imagen__dohko, .imagen__milo, .imagen__aioros, .imagen__shura, .imagen__camus, .imagen__afrodita {
    width: 20vw;
    height: 40vh;
  }
}
.contenedor__productos {
  align-items: center;
  justify-content: space-around;
}

.row {
  margin: 0 !important;
}

.flex__ventas {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.consultas {
  color: aliceblue;
  font-size: 2vh;
  font-family: "Kanit", sans-serif;
  padding-left: 2vw;
}

body {
  background-color: black !important;
}

.formulario {
  color: aliceblue;
  font-family: "Kanit", sans-serif;
}

/*# sourceMappingURL=style.css.map */
