.titulo-dorado{
    color: gold;
}

#dorados{
    color: cornflowerblue;
}

#mu span{
    color: violet;
}

#aldebaran span{
    color: burlywood;
}

#saga span{
    color: blueviolet;
}

.colornegro{
    color: black;
}

p{
    font-size: 1rem;

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: justify;
    background-color: bisque;

}