body{
    background-color:  bisque;
}


.cabecera{
    position: sticky;
    top: 0px;
    font-family:'Permanent Marker', cursive;
    font: white !important;
    opacity: 75%;
}
.navbar-brand {
    color: gold !important;
}
.nav-link{
    color: white !important;
}

// .cabecera__pagina{
//     height: 10vh;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
// }

.cabecera__pagina a{
    text-decoration: none;
    color:darkred
}
    
.cabecera__lista__items{
    list-style: none;
    font-size: 30px;
}

.cabecera__logo{
    width: 5vw;
}

.imagen__hvsa{
    width: 40px;
    
}

@media only screen and (min-width: 300px) and (max-width: 525px){
    .imagen__hvsa{
        width: 100vw;
        height: 50vh !important;
    }
}

.flex__titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    color: gold;
    font-family:'Permanent Marker', cursive;
}

.carousel-general{
    height: 60vh;
}

.imagen__hyogavscamus{
    width: 10vw;
}

.imagen__manga{
    width: 10vw;
}

.imagen__noticia__inicio{
    width: 10vw;
}

.flex__imagenes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.twitter-icon{
    width: 10px;
}
.twitter-link{
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.instagram-icon{
    width: 10px
    
}
.instagram-link{
    text-decoration: none;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.footer-logo{
    display: none;
}

.footer-logo2{
    width: 8vw;
    display: block;
    justify-content: center;
    // margin-left: 50%;
    // margin-right: 50%;
}


.datos-contacto{
    height: -1vh !important;
    font-family: 'Kanit', sans-serif;
    font-size: 1vh;
    color: white;
}
