.imagen-noticia1{
    width: 15vw;
}

.imagen-noticia2{
    width: 15vw;
}

.imagen-noticia3{
    width: 13vw;
    margin-right: 3vw;
}

.imagen-noticia4{
    width: 13vw;
    margin-right: 3vw;
 }

.section__noticia{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}

.contenedor__noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor__noticia img{
    padding: 1vw;
}

.section__noticia a{
    font-family: 'Kanit', sans-serif;
    color: gold !important;

}


