.manga-original{
    width: 15vw;
}

.manga-tlc{
    width: 15vw;
}

.manga-nd{
    width: 15vw;
}
.manga-sh{
    width: 15vw;
}

.flex__manga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: aliceblue;
}

@media only screen and (min-width: 300px) and (max-width: 510px){
    .flex__manga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    }
}




.contenedor__manga{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.animeoriginal{
    width: 20vw;
}

.animeasgard{
    width: 21vw;
}

.animeposeidon{
    width: 20vw;
}

.flex__anime{
    display: flex;
    flex-direction:row;
    justify-content: center;
    color: aliceblue;
}
.contenedor__animetlc{
    font-family: 'Kanit', sans-serif;
}
.contenedor__animeso{
    font-family: 'Kanit', sans-serif;
}

.contenedor__animeova{
    font-family: 'Kanit', sans-serif; 
}

.contenedor__anime{
    font-family: 'Kanit', sans-serif; 
}

.animehades{
    width: 18vw;
}

.animehadess{
    width: 17vw;
}

.animehadese{
    width: 18vw;
}

.animehadesi{
    width: 18vw;
}

.animehadesc{
    width: 18vw;
}

.sssog{
    width: 18vw;
}

.sstlc{
    width: 18vw;
}