.titulo__dorado{
    color: gold;
}

.imagen__dorados{
    width: 98vw;
}

#dorados{
    color: cornflowerblue;
}

#mu span{
    color: violet;
}

#aldebaran span{
    color: burlywood;
}

#saga span{
    color: blueviolet;
}

#mascara-de-muerte span{
    color: darkblue;
}

#aioria span{
    color: chocolate;
}

#shaka span{
    color:goldenrod
}

#dohko span{
    color: darkcyan;
}

#milo span{
    color: darkorchid;
}

#aioros span{
    color:peru
}

#shura span{
    color:tan
}

#camus span{
    color:deepskyblue
}

#afrodita span{
    color: hotpink;
}

.colornegro{
    color: black;
}
