.contenedor__productos{
    align-items: center;
    justify-content: space-around
}

.row{
    margin: 0 !important;
}

.flex__ventas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
}

.consultas{
    color: aliceblue;
    font-size: 2vh;
    font-family: 'Kanit', sans-serif;
    padding-left: 2vw;
}